/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/lang
/public/storage
/public/js
/public/*.js
/public/*.json
/storage/*.key
/storage/installed
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
*.log
/.fleet
/.idea
/.vscode
/.vagrant
start.bat